absl-py
altair==4.1.0
argon2-cffi 
argon2-cffi-bindings 
astor==0.8.1
asttokens 
attrs
backcall 
backports.zoneinfo==0.2.1
base58==2.0.1
beautifulsoup4
bleach 
blinker==1.4
boto3==1.14.0
botocore==1.17.0
cachetools==4.1.0
certifi 
cffi
chardet==3.0.4
charset-normalizer==2.0.12
click==7.1.2
colorama 
commonmark==0.9.1
cycler==0.10.0
debugpy 
decorator 
defusedxml 
docker-pycreds==0.4.0
docutils==0.15.2
entrypoints
enum-compat==0.0.3
executing 
fastjsonschema 
fonttools==4.33.3
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.6.6
google-auth-oauthlib==0.4.6
grpcio==1.44.0
idna==2.9
importlib-metadata==4.11.3
importlib-resources 
ipykernel 
ipython 
ipython-genutils
ipywidgets==7.5.1
jedi
Jinja2
jmespath==0.10.0
joblib==1.1.0
jsonschema 
jupyter-core 
jupyter_client 
jupyterlab-pygments
jupyterlab-widgets==3.0.2
kiwisolver==1.2.0
littleutils==0.2.2
Markdown==3.3.6
MarkupSafe
matplotlib==3.2.1
matplotlib-inline 
mistune==0.8.4
nbclient 
nbconvert 
nbformat @ file:///C:/ci/nbformat_1649845101866/work
nest-asyncio @ file:///C:/ci/nest-asyncio_1649829929372/work
networkx==2.8
nltk==3.4.4
notebook @ file:///C:/Windows/TEMP/abs_79abr1_60s/croots/recipe/notebook_1659083661851/work
numpy==1.18.5
oauthlib==3.1.0
ogb==1.3.3
olefile==0.46
outdated==0.2.1
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.0.4
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pathtools==0.1.2
patsy==0.5.2
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==7.1.2
prometheus-client @ file:///C:/Windows/TEMP/abs_ab9nx8qb08/croots/recipe/prometheus_client_1659455104602/work
promise==2.3
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==3.12.2
psutil @ file:///C:/Windows/Temp/abs_b2c2fd7f-9fd5-4756-95ea-8aed74d0039flsd9qufz/croots/recipe/psutil_1656431277748/work
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydeck==0.4.0b2
pydot==1.4.2
pydot-ng==2.0.0
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
Pympler==1.0.1
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
pyrsistent @ file:///C:/ci/pyrsistent_1636111468851/work
PySocks==1.7.1
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2020.1
pytz-deprecation-shim==0.1.0.post0
pywin32==302
pywinpty @ file:///C:/ci_310/pywinpty_1644230983541/work/target/wheels/pywinpty-2.0.2-cp38-none-win_amd64.whl
PyYAML==6.0
pyzmq @ file:///C:/ci/pyzmq_1657616005830/work
requests==2.23.0
requests-oauthlib==1.3.0
rich==12.5.1
rsa==4.8
s3transfer==0.3.3
scikit-learn==1.0.2
scipy==1.4.1
seaborn==0.10.1
semver==2.13.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sentry-sdk==1.5.12
setproctitle==1.2.3
shortuuid==1.0.9
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.0
soupsieve @ file:///tmp/build/80754af9/soupsieve_1636706018808/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
statsmodels==0.13.2
streamlit==0.61.0
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
terminado @ file:///C:/ci/terminado_1644322757089/work
testpath @ file:///C:/Windows/TEMP/abs_23c7fa33-cbb9-46dc-b7c5-590c38e2de3d4bmbngal/croots/recipe/testpath_1655908553202/work
textblob==0.15.3
threadpoolctl==3.1.0
toml==0.10.1
toolz==0.10.0
torch==1.11.0+cu113
torch-cluster==1.6.0
torch-geometric @ git+https://github.com/pyg-team/pytorch_geometric.git@a00f2eb95c9151045f70c8ee08b73c8ca2ed2d3b
torch-scatter==2.0.9
torch-sparse==0.6.13
torch-spline-conv==1.2.1
torchaudio==0.11.0+cu113
torchmetrics==0.10.0
torchvision==0.12.0+cu113
tornado @ file:///C:/ci/tornado_1662476991259/work
tqdm==4.64.0
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
tweepy==3.8.0
typing_extensions==4.2.0
tzdata==2022.2
tzlocal==2.1
urllib3==1.25.9
validators==0.15.0
wandb==0.12.16
watchdog==0.10.2
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
Werkzeug==2.1.2
widgetsnbextension==3.5.1
wincertstore==0.2
wordcloud==1.7.0
zipp @ file:///opt/conda/conda-bld/zipp_1641824620731/work
